<div class="container row">
    <div class="page page-clients page-clients-edit medium-12 columns">
        <div class="row " data-equalizer>
            
            <div class="medium-12 columns " data-equalizer-watch>
                <h1><small>{{link}} client</small>&nbsp;{{client.title}}</h1>
                <form autocomplete="off">
                    <fieldset>
                        <legend>Basic Info</legend>
                        <div class="row">
                            <div class="medium-2 columns">
                                <label>Number
                                    <input autocomplete="off" id="nr-input" type="text" placeholder="#" ng-model="client.bbox_nr" />
                                </label>
                            </div>
                            <div class="medium-10 columns">
                                <label>Client Title
                                    <input autocomplete="off" type="text" placeholder="Title" ng-model="client.title" />
                                </label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="small-12 columns">
                                <label>Description
                                    <textarea rows="10" placeholder="Description" ng-model="client.description"></textarea>
                                </label>
                            </div>

                        	<div class="small-6 columns">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <input autocomplete="off" id="www-input" type="text" placeholder="www.brandbox.com" ng-model="client.web"/>
                                    </div>
                                </div>
                            </div>

                            <div class="small-6 columns">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="email-input" class="right inline">Email:</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <input autocomplete="off" id="email-input" type="text" placeholder="box@brandbox.com" ng-model="client.mail"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    	

                    </fieldset>

                    <fieldset>
                        <legend>Advanced Info</legend>
                        <div class="row">
                            <div class="medium-6 columns">
                                <label>Legal Title
                                    <input autocomplete="off" type="text" placeholder='SIA "Brandbox"' ng-model="client.name" />
                                </label>
                            </div>
                            <div class="medium-6 columns">
                                <label>Reg Nr
                                    <input autocomplete="off" type="text" placeholder="LV40103804277" ng-model="client.reg_nr" />
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Address
                                    <input autocomplete="off" type="text" placeholder="Tērbatas iela 30" ng-model="client.legal_street" />
                                </label>
                            </div>
                            <div class="medium-4 columns">
                                <label>Postal code
                                    <input autocomplete="off" type="text" placeholder="LV-1034" ng-model="client.legal_postal" />
                                </label>
                            </div>
                            <div class="medium-4 columns">
                                <label>City
                                    <input autocomplete="off" type="text" placeholder="Rīga" ng-model="client.legal_city" />
                                </label>
                            </div>
                            <div class="medium-4 columns">
                                <label>Country
                                    <input autocomplete="off" type="text" placeholder="Latvija" ng-model="client.legal_country" />
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-9 columns">
                                <label>Bank Account Nr
                                    <input autocomplete="off" type="text" placeholder="LV99HABA0440044004400" ng-model="client.bank_nr" />
                                </label>
                            </div>

                            <div class="medium-3 columns">
                                <label>Bank Code
                                    <input autocomplete="off" type="text" placeholder="HABALV22" ng-model="client.bank_code" />
                                </label>
                            </div>

                            <div class="medium-4 columns end">
                                <label>Bank
                                    <input autocomplete="off" type="text" placeholder="AS Swedbank" ng-model="client.bank" />
                                </label>
                            </div>

                        </div>

                        <div class="row">
                            <div class="medium-8 columns">
                                <label>Contact Name
                                    <input autocomplete="off" type="text" placeholder="John Doe" ng-model="client.contact_name" />
                                </label>
                            </div>

                            <div class="medium-4 columns end">
                                <label>Phone number
                                    <input autocomplete="off" type="text" placeholder="22002200" ng-model="client.contact_details" />
                                </label>
                            </div>

                        </div>
                    </fieldset>



                    <div class="row hide">
                        <div class="small-6 columns">
                            <label>Mark with Color
                                <input autocomplete="off" id="color-input" type="text" placeholder="#78AA00" ng-model="client.color" />
                                <div class="square" style="background-color: {{client.color}}" > </div>
                            </label>
                        </div>
                        <div class="small-1 columns">
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                        	<a href="" class="button tiny success" ng-click="save()">Save</a>
                        	<a href="#/clients" class="button tiny alert  " ng-click="back()">Back</a>
                        </div>
                    </div>






                    <div class="row hide">
                        <div class="medium-12 columns">
                            <label>Select Box
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row hide">
                        <div class="medium-6 columns">
                            <label>Choose Your Favorite</label>
                            <input autocomplete="off" type="radio" name="pokemon" value="Red" id="pokemonRed">
                            <label for="pokemonRed">Red</label>
                            <input autocomplete="off" type="radio" name="pokemon" value="Blue" id="pokemonBlue">
                            <label for="pokemonBlue">Blue</label>
                        </div>
                        <div class="medium-6 columns hide">
                            <label>Check these out</label>
                            <input autocomplete="off" id="checkbox1" type="checkbox">
                            <label for="checkbox1">Checkbox 1</label>
                            <input autocomplete="off" id="checkbox2" type="checkbox">
                            <label for="checkbox2">Checkbox 2</label>
                        </div>
                    </div>
                    
                </form>

            </div>
            
        </div>
    </div>
</div>







<div id="myModal" class="reveal-modal app-help-content" data-reveal>
    <h2>Congratulations!!</h2>
    <p class="lead">You found the <a href="" class="tiny button">Options</a> button. Now, be a sweetie and and close me.</p>
    <p></p>
    <a class="close-reveal-modal">&#215;</a>
</div>
