<h3>How To Edit Pages?</h3>
<p>To edit text paragraphs in pages just click on the paragraph and the edit window will appear next to the text. Make necessary changes and press ENTER. If you want to cancel - just press ESC.</p>
<p>Also, not recomended, but you can use basic HTML syntax to format your text</p>

<h3>How To Edit News?</h3>
<p>Go to News section, open news article and simply click anywhere in text. You will be able to edit all info inline. If by any chance you need some formatting, then on your top left screen side will be a bar where you can choose from styles available, e.g, <b>bold</b>, <i>italic</i>, <b><i>heading styles</i></b> etc. </p>
<p>Change title image press the image button. Then you will be able to use the image cropper to crop the image. Press <i>Done</i>, when you have finished with the image or <i>Cancel</i> if you want to discard the changes or start over</p>
<p>To change publication date press on the date under the save icon. You will then be able to select date from the selector.</p>
<p>When done click on save icon, and the changes you made will be actually available</p>
<p><b>NB!</b> if you dont press the <i>Save</i> button, then all changes wil be lost (including images and date</p>