	<div class="small-6 medium-6 large-6 columns page">
		<div class="page-settings row">
			<h1>Settings</h1>

			<div class="list-contain">
				<a class="item" ui-sref="settings.users">
					<div class="icon">
						<i class="fa fa-users ">&nbsp;</i>
					</div>
					<div class="text">
						Users
					</div>
				</a>

				<a class="item" ui-sref="settings.businessinfo">
					<div class="icon">
						<i class="fa fa-university ">&nbsp;</i>
					</div>
					<div class="text">
						Business info
					</div>
				</a>


			</div>
		</div>
	</div>